.add-article {
  margin-top: 3px;
  display: grid;
  grid-template: 1fr 2.5fr / 1fr 5.5fr 0.5fr 1fr;
  grid-template-areas:
    ". title submit ."
    ". text submit .";
}
#article-text,
#article-title {
  background-color: #f0f8ff;
  border-radius: 5px;
}

#article-text {
  grid-area: text;
  margin-top: 3px;
}

#article-title {
  grid-area: title;
}

#submit-article {
  grid-area: submit;
  height: 44px;
  margin-top: 28px;
  margin-left: 5px;
  border-radius: 5px;
}
