.add-comment {
  display: grid;
  grid-template: 1fr / 8fr 1fr;
  grid-template-areas: "comment submit";
}

.comment-text {
  grid-area: comment;
  border-radius: 5px;
  margin: 0px 5px 10px;
}

.submit {
  font-size: 1.1em;
  font-weight: bolder;
  border-radius: 5px;
  grid-area: submit;
  margin: 0px 15px 10px;
}
