.article {
  background-color: white;
  border-radius: 3px;
  display: grid;
  grid-template: 1fr/ 1fr 25fr;
  grid-template-areas: "vote title" "vote article";
  margin-top: 10px;
  padding: 0 20px 0 0;
}

.article-title {
  margin: 2px 0;
  grid-area: title;
}

.article-body {
  overflow-y: auto;
}

.article-text {
  grid-area: article;
  text-align: justify;
  text-justify: inter-character;
}

.article-title-text {
  font-size: 1.8em;
  margin: 8px 0 4px;
}

.article-author {
  opacity: 0.8;
  margin-bottom: 6px;
}

.vote {
  grid-area: vote;
  margin-top: 35px;
  padding: 0 0 0 3px;
  height: 100px;
  min-width: 50px;
  display: grid;
  grid-template-areas: "vote-up" "vote-num" "vote-down";
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.vote-comment {
  margin: 0;
}

.vote-up {
  grid-area: vote-up;
}

.vote-num {
  grid-area: vote-num;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 20px;
  margin: 0;
  font-size: 2.55rem;
}

.vote-down {
  grid-area: vote-down;
}

.vote-angle,
.delete-comment {
  width: 36px;
  height: 60px;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: hsl(0, 0%, 20%)
}

.delete-comment {
  height: 20px;
}

.fa-angle-up,
.fa-angle-down {
  font-size: 3rem;
}

.fa-undo {
  width: 48px;
  height: 60px;
  padding: 15px 15px 0 0;
  font-size: 1.7rem;
  font-weight: bold;
}

button:disabled {
  color: hsl(0, 0%, 60%);
}

.fa-angle-up:hover,
.fa-angle-down:hover,
.delete-comment:hover,
.fa-undo:hover {
  color: hsl(0, 0%, 60%);
}
