.add-article-btn {
  position: fixed;
  z-index: 10;
  right: 3vh;
  bottom: 3vh;
  border-radius: 50%;
  border: 0;
  background-color: #006c84;
}

.add-article-btn-icon {
  align-items: center;
  justify-content: center;
  font-size: 4vh;
  padding: 1vh;
  color: white;
}

.articles {
  overflow: hidden;
}
