p {
  margin: 5px;
}

.articles {
  overflow: scroll;
}
.article {
  text-align: center;
  height: 14.5vh;
  margin-top: 6px;
  display: grid;
  grid-template: 1fr 3fr / 1fr 7fr;
  grid-template-areas:
    "profile title"
    "profile body";
  /* border-radius: 20px; */
}

.article:hover {
  opacity: 0.8;
}

.articles-title {
  font-size: 1.5em;
  margin: 0px;
  padding: 4px 0px;
}

.author {
  font-size: 1.2em;
  font-weight: bolder;
}

.body,
.profile,
.title {
  border: 1px solid hsl(0, 0%, 80%);
}

.body {
  background-color: #f0f8ff;
  /* background-color: #d7cfcf; */
  grid-area: body;
  text-align: justify;
  text-justify: inter-character;
  overflow: hidden;
  margin: 0px;
}

.body-text {
  margin: 5px 10px 5px 10px;
}
.coding {
  background-color: #ebe5df;
}

.cooking {
  background-color: #c8d3d1;
}

.football {
  background-color: #a4c1c4;
}

.profile {
  grid-area: profile;
  margin: 0px;
  background-color: #f0f8ff;
}

.title {
  font-size: 0.8em;

  grid-area: title;
  /* background-color: #d7cbbf; */
  margin: 0px;
  padding: 0px;
}

.votes {
  grid-area: votes;
  margin: 0px;
}
