.addCommentBtn {
  position: fixed;
  z-index: 10;
  right: 3vh;
  bottom: 3vh;
  border-radius: 50%;
  border: 0;
  background-color:#006c84;
}

.addCommentBtnIcon {
  align-items: center;
  justify-content: center;
  font-size: 3.2vh;
  padding: 1.5vh;
  color: white;
}

.comments {
  margin-top: 5px;
  padding-top: 10px;
  border-radius: 3px;
  background-color: hsl(0, 0%, 98%);
}

.list-comment {
  margin-bottom: 10px;
  border-bottom: 1px solid hsl(0, 0%, 80%);
  display: grid;
  grid-template: 1fr 4fr/ 1fr 25fr;
  grid-template-areas: "vote title" "vote comment";
  max-height: 15%;
  padding: 0 20px 0 0;
}

.comment-heading {
  font-size: 1.3rem;
}

.comment-body {
  grid: comment;
  text-align: justify;
  text-justify: inter-character;
  overflow: auto;
  margin: 0;
}

.vote-comment-num{
  font-size: 2rem;
}

.fa-trash-alt {
  font-size: 1.2rem;
}
