.list-article {
  background-color: white;
  border-radius: 3px;
  margin-top: 8px;
  padding: 9px;
  border: 1px solid hsl(0, 0%, 80%);
}

.list-article-author {
  font-size: 1.07em;
  opacity: 0.8;
}

.list-article-body,
.list-article-title {
  color: #333333;
}

.list-article-body {
  grid-area: body;
  overflow: hidden;
  margin: 0px;
  padding: 5px 5px 0;
}

.list-article-title {
  overflow: hidden;
  font-size: 0.8em;
  margin: 0px;
  padding: 0 5px 0;
  border-bottom: 1px solid hsl(0, 0%, 85%);
}

.list-article-title-text{
  font-size: 1.8em;
  margin: 0 0 4px 0;
}

.list-article-profile {
  grid-area: profile;
}

.list-article-no-avatar {
  opacity: 0.5;
}

.list-article:hover {
  filter: brightness(97%);
}

.list-article-img {
  height: 30px;
  min-width: 30px;
  object-fit: contain;
}

.list-article-likes {
  float: right;
  font-size: 1.0rem;
}

.fa-heart {
  color: red;
}

.fa-comment-alt {
  color: #555555;
}