.app-title {
  margin-bottom: 10px;
  font-size: 2em;
  font-family: "Audiowide", cursive;
  font-weight: 400;
  color: #006C84;
}

.link {
  font-size: 1.3rem;
  margin: 0 5px;
  padding: 0 0 2px;
  color: #000;
}

.links {
  margin: 7px 0 0 20px;
}

.link:hover {
  border-bottom: 5px black solid;
}

.navbar {
  border-bottom: 1px solid hsl(0, 0%, 75%);
  height: 60px;
  background: #d7f6fd;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #D9DEE6, #d7f6fd);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #D9DEE6, #d7f6fd); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}