.app-title {
  margin-bottom: 10px;
  font-size: 2em;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
   color: #006C84;
}

.app-title:visited, .app-title:hover {
    color: #006C84;
}

.link {
  font-size: 1.3rem;
  margin: 0 5px;
  padding: 0 0 2px;
  color: #4d4d4d;
}

.links {
  margin: 7px 0 0 20px;
}

.link:hover {
  color: #c80000;
}

.navbar {
  border-bottom: 1px solid hsl(0, 0%, 75%);
  height: 60px;
  background-color: white;
}

@media only screen and (min-width: 992px) {
  .app-title {
      padding: 0 0 0 120px;
  }
}