.codingLink {
  background-color: #ebe5df;
}

.cookingLink {
  background-color: #c8d3d1;
}
.footballLink {
  background-color: #a4c1c4;
}
.link {
  border-radius: 3px;
  padding: 2px 5px;
  font-weight: 600;
}

.link:hover {
  opacity: 0.8;
}

.NavLinks {
  margin-bottom: 10px;
}
