.sortby-heading {
  margin: 10px 8px;
}

.sortby-text {
  margin: 0 0 0 10px;
}

.sort {
  margin: 0 25px 0 0;
}

.sort:hover {
  color: #c80000;
}

@media only screen and (min-width: 992px) {
  .sort {
    margin: 0 130px 0 0;
  }
}