/* .VoteComment {
  vertical-align: top;
  padding-bottom: 0px;
    margin-top: 0px;

} */

.articleVoteDown{
  margin-left: 2px;
}
.commentSpan{
  font-size: 19px;
  vertical-align: middle;
}

.vote{
  margin-top:3px;
}
