a,
a:visited {
  color: black;
}

a:link {
  text-decoration: none;
}

.App {
  text-align: center;
  padding: 10px 25px;
  background-color: #006c84;
}

.App-title {
  margin: 10px;
  font-size: 50px;
  font-family: "Audiowide", cursive;
  font-weight: 400;
  color: #d7cbbf;
}

.nomatch {
  background-color: red;
}

.required {
  font-size: 0.9rem;
  color:#ff6666;
}

.voteup {
  background-color: rgb(104, 255, 104);
}

.votedown {
  background-color: rgb(255, 87, 87);
}

.vote {
   height: 33px;
  width: 40px;
  padding-top: 3px;
  border-radius: 5px;
  box-shadow: 2px 2px rgb(88, 88, 88);
}
