a,
a:visited {
  color: black;
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: none !important;
}

.app {
  padding: 65px 10px 10px;
  background-color: #D9DEE6;
  overflow: hidden;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
}

.nomatch {
  background-color: red;
}

.required {
  font-size: 0.9rem;
  color:#ff6666;
}

@media only screen and (min-width: 992px) {
  .app {
      padding: 65px 130px 10px;
      font-size: 1.2rem;
  }
}
